@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --bg: #EFB8C8;
    --small-bg:#F5F0E1;
    --text1:#F5F0E1;
    --text2:#8A4D76;
    --actions:#8A4D76;
    --other:#D4AF37;

}
body{
    width: 100%;
    min-height: 100%;
    background: var(--bg);
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--bg);
    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
    padding: 1em;
    position: fixed;
    top:0;
    z-index: 999;
    height: 90px;
}

.logo h2{
    font-family: pacifico;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: var(--text2);
}
.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul li{
    margin-right: 2em;
    list-style: none;
   
}
.nav-bar ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: var(--actions);
    position: relative;
}
.nav-bar ul li a:after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--actions);
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-bar ul li a:hover:after {
    width: 100%;
}
.menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    /* background-color: blue; */
    margin: 4px;
    position: relative;
}
.menu-icon span{
    display: block;
    background: var(--actions);
    width:40px;
    height: 3px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    transition: 0.5s;

}
.menu-icon span:nth-last-of-type(1){
    transform: translate(-50%,-10px);
}
.menu-icon span:nth-last-of-type(3){
    transform: translate(-50%,8px);
}
.open-menu  span:nth-last-of-type(1){
    transform: translate(-50%,-50%) rotate(-45deg);
}
.open-menu  span:nth-last-of-type(2){
    transform: translate(-50%,-50%) rotate(45deg);
}
.open-menu  span:nth-last-of-type(3){
    width: 0;
}
@keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
